.Rotary{
color: chocolate;
text-decoration:underline ;
font-style: italic;

}

.button{
    background-color:yellowgreen;
    padding: 5px;
    
    




}


.button:hover{

background-color: cyan;
color: darkblue;
}